.bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    min-height: 100vh;

    background-color: #2c054d;
    color: white;

    h1 {
        font-size: 8vh;
        font-weight: 600;
    }
}

.toast-success {
  background: linear-gradient(to right, #00b09b, #96c93d) !important;
}
.toast-error {
  background: linear-gradient(to right, #fc4a4a, #c9753d) !important;
}


.topContainer {
    width: 100%;
    height: 18vh;
    position: sticky;
    top: 0;
    
    background-color: #2c054d;
    z-index: 10;

    display: grid;
    grid-template-areas: "nain title cart";
    grid-template-columns: 10% 80% 10%;

    .title {
        grid-area: title;

        h1 {
            text-align: center;
        }
    }

    .socials {
        display: flex;
        justify-content: center;

        
        a {
            text-decoration: none;
            color: white;

            font-size: 4vh;
            text-align: center;
        }
    }

    #cartBtn {
        margin-top: 2.5vh;

        grid-area: cart;

        height: fit-content;
        width: fit-content;
        padding: 0.85vh 1.25vw 0.85vh 1.25vw;

        background-color: #ffffff3b;
        border: 2px solid white;
        border-radius: 3px;

        color: white;

        &&:hover {
            background-color: #ffffff6c;
            transition: 0.2s;
        }
    }
}

.productsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 6vh;
    width: 90%;
    margin-top: 5vh;
}

.card {
    overflow: hidden;
}

.card-title{
    font-size: 2.25vh;
    text-wrap: nowrap;
}

.modal-guide {
    margin: 2rem 1rem 0;
    font-size: 2vh;
    text-align: center;
}

#note {
    font-size: 1.55vh;
}

.list-group-item{
    font-weight: bold;

    p {
        font-weight: 400;
    }
}


footer {
    margin: 4vh 0 2vh 0;
    height: 7vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    a {
        font-size: 2.5vh;
        margin-bottom: 1vh;
    }
}